body {
  width: 100%;
}

#main {
  display: table;
  border: solid;
  border-width: thin;
  width: 650px;
  height: 400px;
  margin: 10px;
}

input{
  border: none;
  outline: none;
  font-family: Courier New;
  font-size: 13px;
}

#unixTimestamp {
  width: 13%;
}

#dateTimestamp {
  width: 24%;
}

.uTimestamp, .dTimestamp, td {
  color: grey;
  font-family: Courier New;
  font-size: 13px;
}