body {
  width: 100%;
}

#main {
  display: table;
  border: solid;
  border-width: thin;
  width: 650px;
  margin: 10px;
}

input{
  border: none;
  outline: none;
  font-family: Arial;
  width: 86%;
}

#unixtime {
  color: grey;
  width: 14%;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: Arial;
  color: grey;
}