body {
  width: 100%;
}

#main {
  display: table;
  border: solid;
  border-width: thin;
  width: 650px;
  height: 400px;
  margin: 10px;
}

input{
  border: none;
  outline: none;
}

#unixTimestamp {
  width: 12%;
}

#dateTimestamp {
  width: 20%;
}

.uTimestamp, .dTimestamp {
  color: grey;
  font-family: Arial;
  font-size: 13px;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  font-family: Arial;
  color: grey;
}